@import "../../styles/variables";

.commentInput {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .submitButton {
      background-color: $blue-500;
      color: $gray-100;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      margin-top: 0.5rem;
      cursor: pointer;
    }

    .contentLength {
      display: inline-block;
      font-size: 0.75rem;
    }
  }

  &.dark {
    .submitButton {
      background-color: $blue-800;
      color: $gray-200;
    }
  }
}
