@import "../../../../styles/variables";

.postInfoHeader {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: $gray-400;

  .userInfo {
    display: flex;
    text-decoration: none;
    color: unset;

    .namesContainer {
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .displayName {
        font-weight: 500;
        color: $gray-600;
      }

      .username {
        font-weight: 200;
      }
    }
  }

  .date {
    display: flex;
    align-items: center;
  }
}
