@import "../../../../styles/variables";

.postReactionsFooter {
  display: flex;
  justify-content: space-between;
  color: $gray-600;

  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: flex-start;
    gap: 2rem;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-weight: 300;

    svg {
      stroke-width: 1.25px;
    }
  }
}
