@import "../../../../styles/variables";

.postReactionsFooter {
  display: flex;
  color: $gray-600;
  justify-content: space-between;

  .reactionContainer {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    font-weight: 300;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;

    svg {
      stroke-width: 1.25px;
    }
  }

  .liked {
    svg {
      fill: $red-heart;
      color: $red-heart;
    }
  }

  &.dark {
    color: $gray-400;
  }
}
