@import "../../styles/variables";

.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: red;
  padding: 0.5rem;

  @media screen and (min-width: $breakpoint-desktop) {
    position: relative;
    width: 320px;
    padding: 1.5rem;
  }

  .optionList {
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: $breakpoint-desktop) {
      flex-direction: column;
      gap: 1rem;
    }

    .option {
      display: flex;
      align-items: center;
      text-decoration: inherit;
      color: inherit;
      cursor: pointer;

      @media screen and (min-width: $breakpoint-desktop) {
        gap: 0.5rem;
      }

      .optionText {
        display: none;

        @media screen and (min-width: $breakpoint-desktop) {
          display: inherit;
        }
      }
    }

    .desktopOnly {
      display: none;

      @media screen and (min-width: $breakpoint-desktop) {
        display: inherit;
      }
    }
  }
}
