@import "../../styles/variables";

.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $blue-700;
  color: $gray-100;
  padding: 0.5rem;

  @media screen and (min-width: $breakpoint-desktop) {
    top: 0;
    bottom: 0;
    left: 0;
    right: unset;
    width: 280px;
    padding: 1.5rem;
    box-sizing: border-box;
  }

  .optionList {
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: $breakpoint-desktop) {
      flex-direction: column;
      gap: 1rem;
    }

    .option {
      display: flex;
      align-items: center;
      text-decoration: inherit;
      color: inherit;
      cursor: pointer;

      @media screen and (min-width: $breakpoint-desktop) {
        gap: 0.5rem;
      }

      svg {
        stroke: $gray-100;
        stroke-width: 1.5px;
      }

      .optionText {
        display: none;

        @media screen and (min-width: $breakpoint-desktop) {
          display: inherit;
        }
      }
    }

    .desktopOnly {
      display: none;

      @media screen and (min-width: $breakpoint-desktop) {
        display: inherit;
      }
    }
  }
}
