@import "../../../styles/variables";

.post {
  text-decoration: none !important;
  color: inherit;
  display: block;
  padding: 1rem;

  border-top: $post-border-light;

  @media screen and (min-width: $breakpoint-desktop) {
    border: $post-border-light;
    border-radius: 0.25rem;
  }

  .infoHeader {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: $gray-400;
  }

  .content {
    text-decoration: none;
    color: unset;
    display: block;
    padding-bottom: 0.5rem;

    .readMore {
      font-size: 0.75rem;
      color: $gray-600;
      margin-top: 0.5rem;
    }
  }
}

.post.dark {
  border-color: $gray-800;
  background-color: $gray-800;

  .content {
    color: $gray-200;

    .readMore {
      color: $gray-400;
    }
  }
}
