@import "../../styles/variables";

.adminPage {
  box-sizing: content-box;
  padding-bottom: 4rem;

  .table {
    th {
      user-select: none;
      font-size: 1rem;
    }

    tr {
      font-size: 1rem;
    }

    .sortHeader {
      cursor: pointer;
    }

    .elipsisField {
      max-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .narrowField {
      width: 150px;
    }

    .actionButton {
      cursor: pointer;
      color: inherit;
      border: transparent;
      background-color: transparent;
      padding: 0;
    }
  }

  .paginationContainer {
    position: fixed;
    bottom: 4rem;
    right: 1rem;

    @media screen and (min-width: $breakpoint-desktop) {
      bottom: 1rem;
    }
  }
}

.modal {
  .actionForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .actionsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      font-size: 1rem;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    .positive {
      color: $positive;
      border: 1px solid $positive;
    }

    .danger {
      color: $danger;
      border: 1px solid $danger;
    }
  }
}
